extends ../basis/layout

block content
    h1 /#{board.addr}/ — #{board.data.name}
    section.dashboard
        - each thread, i in posts
            section.thread(style="margin-bottom: 20px")
                article.count_post=count[i] + ' posts'
                //- each post, j in posts[i]
                - for(var j = thread.length - 1; j >= 0; j--) {
                    - var post = thread[j]
                    article.post
                        article.post_data
                            span.name=post.name
                        - if(post.image)
                            figure.post_image
                        article.post_text=post.text
                - }