//captcha
mixin captcha()
    article.captcha
        img(alt="captcha")
        input(type="hidden" name="c_key" value="Not")
        br
        input(type="text" name="c_value" placeholder="Captcha" required)

// post
mixin post(post, board, mod)
    article.post
        - if(mod && mod.boards == null || mod && mod.boards.indexOf(board) != -1)
            article.admin_action
                - if(mod.status >=1)
                    form(action="/admin/action" method="post")
                        input(type="hidden" name="type" value=4)
                        input(type="hidden" name="board" value=board)
                        input(type="hidden" name="thread" value=post.id)
                        input(type="submit" value="Delete post")
                    br
                - if(mod.status >=2)
                    form(action="/admin/action" method="post")
                        input(type="hidden" name="type" value=5)
                        input(type="hidden" name="board" value=board)
                        input(type="hidden" name="thread" value=post.id)
                        input(type="submit" value="Ban author")
                    br
                    form(action="/admin/action" method="post")
                        input(type="hidden" name="type" value=6)
                        input(type="hidden" name="board" value=board)
                        input(type="hidden" name="thread" value=post.id)
                        input(type="submit" value="Delete posts of the author")
                    br
                    form(action="/admin/action" method="post")
                        input(type="hidden" name="type" value=7)
                        input(type="hidden" name="board" value=board)
                        input(type="hidden" name="thread" value=post.id)
                        input(type="submit" value="Delete posts and threads of the author")
        article.post_data
            span.name=post.name
        - if(post.image)
            figure.post_image
                img(src="/small/" + board + "/" + post.thread + "/" + post.id + "." + post.image + "?tn=200")
        article.post_text=post.text

// OP post
mixin op_post(post, board, mod)
    article.op_post
        - if(mod && mod.boards == null || mod && mod.boards.indexOf(board) != -1)
            article.admin_action
            - if(mod.status >=2)
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=1)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Attach/detach thread")
                br
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=2)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Close/open thread")
                br
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=3)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Delete thread")
                br
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=5)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Ban author")
                br
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=6)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Delete posts of the author")
                br
                form(action="/admin/action" method="post")
                    input(type="hidden" name="type" value=7)
                    input(type="hidden" name="board" value=board)
                    input(type="hidden" name="thread" value=post.id)
                    input(type="submit" value="Delete posts and threads of the author")
        article.post_data
            span.name=post.name
        - if(post.image)
            figure.post_image
                img(src="/small/" + board + "/" + post.id + "/" + post.id + "." + post.image + "?tn=200")
        article.post_text=post.text

// form post/thread
mixin posting_form(image_permit)
    article.posting_form
        form(method="post" enctype="multipart/form-data")
            input(type="text" name="title" placeholder="Title")
            br
            input(type="text" name="name" placeholder="Name")
            br
            textarea(name="text" placeholder="Post" required)
            br
            label Sage
                input(type="checkbox" name="sage" value="1")
            br
            - if(image_permit)
                input(type="file" name="image")
                br
            mixin captcha()
            input(type="submit" value="Submit")