extends ../basis/layout

block content
    h1 Boards menu
    h3 Add board
    section.a_add_board
        form(method="post")
            input(type="text" name="name" pattern="^[a-z]+$" placeholder="Name" required)
            input(type="text" name="category" placeholder="Category" required)
            br
            input(type="text" name="public_name" placeholder="Public name" required)
            input(type="text" name="username" placeholder="Default username" required)
            br
            label Permit image
                input(type="checkbox" value="true" name="image" checked)
            label Permit tripcode
                input(type="checkbox" value="true" name="tripcode" checked)
            label Require tripcode
                input(type="checkbox" value="true" name="tripcode_require")
            br
            label Hidden
                input(type="checkbox" value="true" name="hidden")
            label Require image to OP-post
                input(type="checkbox" value="true" name="image_require" checked)
            label Permit roulette
                input(type="checkbox" value="true" name="roulette" checked)
            br
            input(type="text" name="bump" pattern="^[0-9]+$" placeholder="Bumplimit" value="500" required)
            input(type="text" name="pages" pattern="^[0-9]+$" placeholder="Max pages" value="10" required)
            br
            input(type="text" name="threads" pattern="^[0-9]+$" placeholder="Threads in page" value="10" required)
            input(type="text" name="max_size" pattern="^[0-9]+$" placeholder="Max image size in mb" value="2" required)
            br
            input(type="submit" value="Add")
    - if(count == 0)
        h3 No boards!
    - else
        h3 Total boards: #{count}
        section.a_boards_list
        - each board, i in boards
            article.a_board
                h4=i
                aricle.a_board_form
                    form(method="post")
                        input(type="hidden" name="name" value=i)
                        input(type="text" name="category" placeholder="Category" value=board.category required)
                        br
                        input(type="text" name="public_name" placeholder="Public name" value=board.name required)
                        input(type="text" name="username" placeholder="Default username" value=board.default_username required)
                        br
                        label Permit image
                            input(type="checkbox" value="true" name="image" checked=board.image_permit)
                        label Permit tripcode
                           input(type="checkbox" value="true" name="tripcode" checked=board.trip_permit)
                        label Require tripcode
                            input(type="checkbox" value="true" name="tripcode_require" checked=board.trip_required)
                        br
                        label Hidden
                            input(type="checkbox" value="true" name="hidden" checked=board.hidden)
                        label Require image to OP-post
                            input(type="checkbox" value="true" name="image_require" checked=board.image_require)
                        label Permit roulette
                            input(type="checkbox" value="true" name="roulette" checked=board.roulette)
                        br
                        input(type="text" name="bump" pattern="^[0-9]+$" placeholder="Bumplimit" value=board.bumplimit required)
                        input(type="text" name="pages" pattern="^[0-9]+$" placeholder="Max pages" value=board.pages required)
                        br
                        input(type="text" name="threads" pattern="^[0-9]+$" placeholder="Threads in page" value=board.thread_in_page required)
                        input(type="text" name="max_size" pattern="^[0-9]+$" placeholder="Max image size in mb" value=board.size required)
                        br
                        input(type="submit" value="Edit")