extends ../basis/layout

block content
    h1 Reports
    - if(active == 1)
        h2 Unsolved
        a(href="/admin/reports?active=not") To solved
    - else
        h2 Solved
        a(href="/admin/reports") To unsolved
    - if(count == 0)
        h3 No reports
    - else
        h3 Total reports: #{count}
        table.reports
            tr
                th ID
                th IP
                th Board
                th Thread
                th Text
                th Created
                - if(active == 1)
                    th
                - else
                    th Resolution
                    th Respondent
                    th Closed
            - each report, i in reports
                tr
                    td.r_num=report.id
                    td.r_ip=report.ip
                    td.r_board=report.board
                    td.r_thread=report.thread
                    td.r_text=report.text
                    td.r_date=report.createdAt
                    - if(active == 1)
                        td
                            form(method="post")
                                input(type="hidden" name="id" value=report.id)
                                input(type="text" name="resolution" placeholder="Resolution")
                                br
                                input(type="submit" value="Solve")
                    - else
                        td.r_resolution=report.resolution
                        td.r_admin=report._admin.name
                        td.r_date=report.updatedAt