extends ../basis/layout

block content
    h1 Spam-list
    - each board, i in spam
        section.s_board
            h3=i
            article.single_form
                form(method="post")
                    input(type="text" name="word" required)
                    input(type="hidden" name="board" value=i)
                    input(type="submit" value="Add")
            - each word, j in board
                div.spam_word=word
                    form(method="post")
                        input(type="hidden" name="word" value=word)
                        input(type="hidden" name="board" value=i)
                        input(type="image" src="/src/img/main/cross.png")